extends layout

block content
  .container-fluid

    .jumbotron
      h1= title
      p Welcome to #{title}
      form(method='get' action='/about')
        button.btn.btn-success(type="submit" ) Read more
    h1 Our Services

    each service, i in services
      .well
        h3 #{service.name}
        p #{service.description}
        p
        | Price Range: #{service.price_range}
